@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

/* CSS Variables */

:root {
  --background-color: #243e58;
  --primary-color: #ffffff;
  --secondary-color: #ccc;
}

/* Reset */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input,
button,
textarea {
  display: block;
  margin: 1rem auto;
  width: 90%;
  padding: 0.75rem;
  border: 1px solid white;
  outline: none !important;
}

input:focus,
textarea:focus {
  color: var(--primary-color);
  background: var(--background-color);
}

input:focus::placeholder,
textarea:focus::placeholder {
  color: white;
}

button {
  border: none;
  background: var(--primary-color);
  color: var(--background-color);
  cursor: pointer;
  transition: all 0.3s ease-in;
  border: 1px solid white;
}

button:hover {
  color: var(--primary-color);
  background: var(--background-color);
}

h2,
h3,
h4,
h5 {
  color: var(--primary-color);
}

/* Styling of Website */

body {
  height: 100vh;
  background: lightblue;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  background: url(img/raining.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#header,
#footer {
  text-align: center;
  position: fixed;
  left: 0;
  width: 100%;
  background-color: var(--background-color);
  color: var(--primary-color);
  padding: 20px 0;
}

#header {
  top: 0;
  border-bottom: 0.5px solid var(--primary-color);
}

#footer {
  bottom: 0;
  border-top: 0.5px solid var(--primary-color);
}

/* Weather section */

#form,
#history {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

#form {
  top: 10rem;
}

#history {
  top: 45rem;
}

.container {
  text-align: center;
  width: 50%;
  max-width: 50rem;
  background: var(--background-color);
  border: 0.5px solid var(--primary-color);
  border-radius: 0.5px;
  padding: 1.5rem 1rem;
  margin: 3rem 0;
  color: var(--primary-color);
}

.container:hover {
  box-shadow: 0 14px 28px rgba(255, 255, 255, 0.25),
    0 10px 10px rgba(255, 255, 255, 0.22);
}
